.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  position: relative;
}
.freeBox__hrrz3 {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #5856d61a 0%, #ffffff 100%);
  padding: 64px;
}
.freeBox__hrrz3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__hrrz3 > :global(.__wab_flex-container) > *,
.freeBox__hrrz3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hrrz3 > :global(.__wab_flex-container) > picture > img,
.freeBox__hrrz3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hrrz3 {
    padding-right: 32px;
    padding-left: 32px;
  }
}
.foreground {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 1080px;
}
.foreground > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.foreground > :global(.__wab_flex-container) > *,
.foreground > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground > :global(.__wab_flex-container) > picture > img,
.foreground
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__boaLp {
  height: auto;
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
.text___43FoO {
  font-size: 20px;
  color: #05050599;
  line-height: 28px;
  text-align: center;
}
.foreground2 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.valueProp___0NXim:global(.__wab_instance) {
  position: relative;
}
.img__ggHlv {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__ggHlv > picture > img {
  object-fit: cover;
}
.img__ggHlv > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__y5Omh:global(.__wab_instance) {
  position: relative;
}
.img__nKoM6 {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__nKoM6 > picture > img {
  object-fit: cover;
}
.img__nKoM6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__pkXv9:global(.__wab_instance) {
  position: relative;
}
.img__bJ3Ir {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__bJ3Ir > picture > img {
  object-fit: cover;
}
.img__bJ3Ir > .__wab_img-spacer > img {
  object-fit: cover;
}
.valueProp__yJebG:global(.__wab_instance) {
  position: relative;
}
.img__vUEcf {
  position: relative;
  object-fit: cover;
  width: 56px;
  height: 56px;
}
.img__vUEcf > picture > img {
  object-fit: cover;
}
.img__vUEcf > .__wab_img-spacer > img {
  object-fit: cover;
}
.section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: unset;
  background: var(--token-seQn4fDP3HIw4_);
  padding: 64px 32px;
}
.foreground3 {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.foreground3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.foreground3 > :global(.__wab_flex-container) > *,
.foreground3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground3 > :global(.__wab_flex-container) > picture > img,
.foreground3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.freeBox__rzbRs {
  flex-direction: column;
  display: flex;
}
.freeBox__rzbRs > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rzbRs > :global(.__wab_flex-container) > *,
.freeBox__rzbRs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rzbRs > :global(.__wab_flex-container) > picture > img,
.freeBox__rzbRs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__x7Jti {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.h2 {
  height: auto;
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
}
.text__nCoc6 {
  font-size: 20px;
  color: #ffffff80;
  line-height: 28px;
  height: auto;
}
.freeBox__yDXwh {
  flex-direction: column;
  display: flex;
  position: relative;
  max-width: 960px;
}
.freeBox__yDXwh > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__yDXwh > :global(.__wab_flex-container) > *,
.freeBox__yDXwh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__yDXwh > :global(.__wab_flex-container) > picture > img,
.freeBox__yDXwh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
.columns {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 48px) * 3 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 48px);
    height: calc(100% + 48px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 48px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > *,
  .columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns > :global(.__wab_flex-container) > picture > img,
  .columns
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 48px;
  }
}
.column__yGn20 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__tAfw7:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__iKe0X {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aUC3PvS8EdrIvU);
  width: 28px;
  height: 28px;
}
.text__wsmMk {
  padding-left: 0px;
}
.column__fjZw0 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___2BOhL:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__zanT {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aUC3PvS8EdrIvU);
  width: 28px;
  height: 28px;
}
.text__fW77Z {
  padding-left: 0px;
}
.column__eXxAn {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp___1MkDg:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__znCzm {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aUC3PvS8EdrIvU);
  width: 28px;
  height: 28px;
}
.text___7AGwn {
  padding-left: 0px;
}
.column__vYeB {
  display: flex;
  position: relative;
  flex-direction: column;
}
.valueProp__tNlX5:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__yvybj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-aUC3PvS8EdrIvU);
  width: 28px;
  height: 28px;
}
.text__rAFjM {
  padding-left: 0px;
}
.freeBox__jA7A {
  flex-direction: column;
  display: flex;
  position: relative;
  background: linear-gradient(0deg, #ffffff 0%, #5856d61a 100%);
  padding: 64px;
}
.freeBox__jA7A > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 48px);
  height: calc(100% + 48px);
}
.freeBox__jA7A > :global(.__wab_flex-container) > *,
.freeBox__jA7A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jA7A > :global(.__wab_flex-container) > picture > img,
.freeBox__jA7A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 48px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jA7A {
    padding-top: 128px;
    padding-right: 32px;
    padding-left: 32px;
  }
}
.freeBox__mB4Ug {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  max-width: 1080px;
}
.freeBox__mB4Ug > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__mB4Ug > :global(.__wab_flex-container) > *,
.freeBox__mB4Ug > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mB4Ug > :global(.__wab_flex-container) > picture > img,
.freeBox__mB4Ug
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.freeBox__ba8Wo {
  flex-direction: column;
  display: flex;
}
.freeBox__ba8Wo > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__ba8Wo > :global(.__wab_flex-container) > *,
.freeBox__ba8Wo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ba8Wo > :global(.__wab_flex-container) > picture > img,
.freeBox__ba8Wo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__nTaoG {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.text__fiVvR {
  font-size: 48px;
  font-weight: 800;
  color: #000000d9;
  line-height: 1;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__fiVvR {
    text-align: center;
  }
}
.text__cPtgp {
  font-size: 20px;
  color: #05050599;
  text-align: center;
  line-height: 28px;
  height: auto;
}
.freeBox___0EXkb {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox___0EXkb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox___0EXkb > :global(.__wab_flex-container) > *,
.freeBox___0EXkb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0EXkb > :global(.__wab_flex-container) > picture > img,
.freeBox___0EXkb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0EXkb {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0EXkb > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___0EXkb > :global(.__wab_flex-container) > *,
  .freeBox___0EXkb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___0EXkb > :global(.__wab_flex-container) > picture > img,
  .freeBox___0EXkb
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.priceCard__fIg3D:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueProp___6F7SS:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__tDppw {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__bejX:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__muOZi {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__un41H {
  height: auto;
}
.priceCard__grZ4H:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__m3PzF {
  color: var(--token-mAL0b1Kc4C6QaC);
}
.valueProp__zObii:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ogtSn {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__kkPa8:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ahAq7 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__ivj0E:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__s1Uc8 {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__tmFip {
  height: auto;
}
.priceCard__tICpX:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text__oZpmN {
  color: var(--token-CW5C-kIAI2yZ-L);
}
.valueProp___01En6:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__utgNv {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__a7Kvl:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__sXjfZ {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__uAoRw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__m34Gg {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yx9Lz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__dj8Qj {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__yyCkf {
  height: auto;
}
.priceCard__yom64:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.text___00Skm {
  color: var(--token-AhBfl_UI_pZ2Bg);
}
.valueProp__ktta3:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__uqiJe {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__t8Bl5:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__f5DMe {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__yyUz:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__t6N6G {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.valueProp__g75Rw:global(.__wab_instance) {
  width: 100%;
  min-width: 0;
}
.svg__ocWK {
  object-fit: cover;
  color: #34c759;
  width: 24px;
  height: 24px;
}
.text__gr37S {
  height: auto;
}
.footerSection:global(.__wab_instance) {
  position: relative;
}
