.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 64px;
}
.freeBox__p7NnZ {
  flex-direction: row;
  display: flex;
  position: relative;
  max-width: 960px;
  width: 100%;
  min-width: 0;
}
.freeBox__p7NnZ > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__p7NnZ > :global(.__wab_flex-container) > *,
.freeBox__p7NnZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p7NnZ > :global(.__wab_flex-container) > picture > img,
.freeBox__p7NnZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p7NnZ {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p7NnZ > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p7NnZ > :global(.__wab_flex-container) > *,
  .freeBox__p7NnZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__p7NnZ > :global(.__wab_flex-container) > picture > img,
  .freeBox__p7NnZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.freeBox__qSrlr {
  flex-direction: column;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__qSrlr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__qSrlr > :global(.__wab_flex-container) > *,
.freeBox__qSrlr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qSrlr > :global(.__wab_flex-container) > picture > img,
.freeBox__qSrlr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___0Syjw {
  flex-direction: column;
  display: flex;
  position: relative;
}
.freeBox___0Syjw > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___0Syjw > :global(.__wab_flex-container) > *,
.freeBox___0Syjw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Syjw > :global(.__wab_flex-container) > picture > img,
.freeBox___0Syjw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__pJoT5 {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__pJoT5 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__pJoT5 > :global(.__wab_flex-container) > *,
.freeBox__pJoT5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pJoT5 > :global(.__wab_flex-container) > picture > img,
.freeBox__pJoT5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__l1B2I {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-lxuhA7H-djuBfG);
  flex-shrink: 0;
}
.svg__fdFtV {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-lxuhA7H-djuBfG);
  flex-shrink: 0;
}
.svg__vjR1V {
  object-fit: cover;
  width: 24px;
  height: 24px;
  color: var(--token-lxuhA7H-djuBfG);
  flex-shrink: 0;
}
.freeBox__nodcX {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__nodcX > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__nodcX > :global(.__wab_flex-container) > *,
.freeBox__nodcX > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__nodcX > :global(.__wab_flex-container) > picture > img,
.freeBox__nodcX
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__qXVi {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-lxuhA7H-djuBfG);
  height: auto;
}
.button__sKb4M:global(.__wab_instance) {
  position: relative;
}
.svg__kr3Hv {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__kfD9U {
  height: auto;
}
.svg__bukIh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__hpGm5:global(.__wab_instance) {
  position: relative;
}
.svg__cfbKr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__nVsno {
  height: auto;
}
.svg__yhJjf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ob6Nz:global(.__wab_instance) {
  position: relative;
}
.svg__cRaQa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__bsLfP {
  height: auto;
}
.svg__biSi2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__qEpaR:global(.__wab_instance) {
  position: relative;
}
.svg__rTCxX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___3U1YM {
  height: auto;
}
.svg__grKm3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__aNa2Q {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__aNa2Q > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__aNa2Q > :global(.__wab_flex-container) > *,
.freeBox__aNa2Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aNa2Q > :global(.__wab_flex-container) > picture > img,
.freeBox__aNa2Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__oPnxI {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-lxuhA7H-djuBfG);
  height: auto;
}
.button___196Bp:global(.__wab_instance) {
  position: relative;
}
.svg__f579T {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__mocvZ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__lyOi4:global(.__wab_instance) {
  position: relative;
}
.svg__rgSg9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__q14TR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___11GAe:global(.__wab_instance) {
  position: relative;
}
.svg__weLoH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__rFrH {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox___19Qx7 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox___19Qx7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___19Qx7 > :global(.__wab_flex-container) > *,
.freeBox___19Qx7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___19Qx7 > :global(.__wab_flex-container) > picture > img,
.freeBox___19Qx7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text__rmzqI {
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.03em;
  position: relative;
  left: auto;
  top: auto;
  color: var(--token-lxuhA7H-djuBfG);
  height: auto;
}
.button__eMlwv:global(.__wab_instance) {
  position: relative;
}
.svg__ic5O9 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__amPyj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__hWcxU:global(.__wab_instance) {
  position: relative;
}
.svg__cHoJl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__yzxMu {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___6Rm20:global(.__wab_instance) {
  position: relative;
}
.svg__yIcj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__f2Rp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__krFkh:global(.__wab_instance) {
  position: relative;
}
.svg__ueH8F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.svg__bj6BA {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
